IMPORTAR PANDAS Y LEER ARCHIVO:

In [1]:
import pandas as pd
archivo = pd.read_csv("/home/helena/Descargas/Sharks.csv", encoding = "latin-1")

VERIFICAR COLUMNAS Y FILAS. REVISAR NULLS SOBRE EL TOTAL DE FILAS:

In [2]:
print(archivo.shape)
archivo.isnull().sum()

(5992, 24)

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

COMPROBAMOS QUE "Unnamed: 22" Y "Unnamed: 23" NO TIENEN INFORMACION RELEVANTE Y BORRAMOS COLUMNAS:

In [3]:
archivo.drop("Unnamed: 22", axis=1, inplace=True)
archivo.drop("Unnamed: 23", axis=1, inplace=True)

COMPARAMOS QUE "Case Number.comparacion", "Case Number.1" y "Case Number.2" SON DIFERENTES CREANDO UNA NUEVA COLUMNA INDICANDO TRUE/FALSE:

In [4]:
archivo["Case Number.comparacion1"] = archivo["Case Number"] == archivo["Case Number.1"]
archivo["Case Number.comparacion2"] = archivo["Case Number"] == archivo["Case Number.2"]

FILTRAMOS PARA VER LAS FILAS QUE NO SON IGUALES EN "Case Number" y "Case Number.1":

In [5]:
falsos1 = archivo[archivo["Case Number.comparacion1"] != True]
falsos1[["Case Number.comparacion1", "Case Number", "Case Number.1"]]

      Case Number.comparacion1   Case Number Case Number.1
4                        False    2016.09.15    2016.09.16
33                       False  2016.07.14.4  2016.07.14.R
97                       False  2016.01.24.b  2015.01.24.b
116                      False    2015.12.23    2015.11.07
121                      False  2015.10.28.a    2015.10.28
169                      False    2015.07-10    2015.07.10
3296                     False    1967.07.05    1967/07.05
3569                     False  1962,08.30.b  1962.08.30.b
3654                     False  1961.09.02.R  1961.09,06.R
4177                     False    1952.08.05    1952.08.04
4719                     False  1934.01.08.R  1934.02.08.R
5043                     False  1900.00.00.R  1919.00.00.R
5150                     False  1911.07.31.R  1911.07.31.T

FILTRAMOS PARA VER LAS FILAS QUE NO SON IGUALES EN "Case Number" y "Case Number.2":

In [6]:
falsos2 = archivo[archivo["Case Number.comparacion2"] != True]
falsos2[["Case Number.comparacion2", "Case Number", "Case Number.2"]]

      Case Number.comparacion2   Case Number Case Number.2
169                      False    2015.07-10    2015.07.10
4719                     False  1934.01.08.R  1934.02.08.R